* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans TC", sans-serif;
    background: linear-gradient(0deg,
    slateblue 0%,
    royalblue 100%);
}

.wrapper {
    padding-top: 70px;
}

.badge {
    color: #fff;
}

.table {
    background: white;
    margin-bottom: 0;
}


.card {
    width: 100px;
    height: 100%;
    /* background-color: #007bff; */
    backdrop-filter: bluer(10px);
    background: rgba(0, 0, 0, .5);
    color: #fff;
    cursor: move;
    font-size: 8px;
    user-select: none;
    display: grid;
    place-items: center;
}

.card .btn{
    font-size: 8px!important;
    padding: 2px!important;
    margin: 0 4px;
}
.time-line:nth-child(odd){
    background-color: orange;
}